* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
}

/* Article */
.article {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 20px;
}

.article:hover {
  cursor: pointer;
}

.addArticles {
  width: 100%;
  padding: 10px;
  background-color: yellow;
  border-radius: 10px;
}